*, html, body
{
	margin: 0;
	padding: 0;
}

header
{
	background-color: #A174AC;
	height: 112px;
}

ul
{
	list-style: none;
}

li
{
	display: inline-block;
}

header nav
{
	float: right;
}

header nav ul li a
{
	font-size: 1.4em;
	padding-right: 30px;
	font-weight: bold;
	color: white;
	transition: all .3s ease-in ;
}

header nav ul li a:hover
{
	text-decoration: none;
	color: #5B0072;
}

.img1
{
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),url(..//images/sanjose.jpg);
	background-size: 100% 100%;
}

.img2
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),url(..//images/Berkeley.jpg);
	background-size: 100% 100%;
}

.img3
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(..//images/baybridge.jpg);
	background-size: 100% 100%;
}


.slider, .slider ul, .slider ul li
{
	height: 900px;
	width: 100%;
	color: white;
	text-align: center;
}
