@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";
@import "https://necolas.github.io/normalize.css/4.1.1/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
html, body {
  width: 100%;
  height: 100%; }

section {
  width: 100%;
  min-height: 100%; }

